@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
  background: #2D2E32 url('/images/bg-body.png') top right no-repeat;
}
